[Unit]
Description=ConfgenFS

[Service]
Type=exec
ExecStart="%h/.local/bin/confgenfs" "%h/dev/dotfiles/confgen.lua" "%h/confgenfs"

[Install]
WantedBy=default.target

