@import "theme.css";

* {
	border: none;
	border-radius: 0;
	font-family: "HeavyData Nerd Font";
	font-size: 14px;
	min-height: 18px;
}

window#waybar {
	background: rgba(1, 1, 1, 0.5);
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
}

#workspaces {
	background: @base;
	transition: transform 250ms ease-in-out;
}

#workspaces button {
    padding: 10px;
	transition: none;
	color: @text;
	background: @base;
	font-size: 16px;
}

#workspaces button.active {
	color: @text;
   	background: @active;
}

#workspaces button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: @subtext;
	background: white;
}

#pulseaudio, #mpris, 
#temperature, #cpu,
#memory, #battery,
#clock, #gamemode,
#tray, #window,
#network
{
	padding-left: 8px;
	padding-right: 8px;
	transition: transform 250ms ease-in-out;
	color: @text;
	background: @base;
}

#battery.warning {
    background: @warning;
    animation-name: warning-blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.critical, #temperature.critical {
    background: @critical;
    animation-name: critical-blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#clock:hover {
    color: @subtext;
	background: white;
}

tooltip {
    background: @base;
}

window#waybar.empty #window {
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-color: transparent;
}

@keyframes critical-blink {
    to {
        background-color: @critical_blink;
    }
}

@keyframes warning-blink {
    to {
        background-color: @warning_blink;
    }
}
