* {
    font: "HeavyData Nerd Font 13";
    g-spacing: 10px;
    g-margin: 0;
    b-color: #000000FF;
    fg-color: #FFFFFFFF;
    fgp-color: #888888FF;
    g-padding: 10px;
    hl-color: #FFFFFFFF;
    hlt-color: #000000FF;
    alt-color: #000010FF;
    wbg-color: #051020CC;
    w-border: 2px solid;
    w-border-color: #FFFFFFFF;
    w-padding: 12px;
}

